nav {
    background: linear-gradient(to right, #FFAB9C 0%, #FFF09C 25%, #DBFF9C 50%, #9CE1FF 100%);
    margin-bottom: 60px;
}

.nav-link:hover {
    color: #555 !important;
}

body {
    text-align: center;
    background: linear-gradient(to bottom right, #f8f9fa, #e8f7ff);
    font-family: 'Segoe UI', sans-serif;
}

.signup-card {
    width: 400px;
    border-radius: 20px;
    background-color: white;
    margin-top: 40px;
}
