ul {
    background: linear-gradient(to right, #FFAB9C 0%, #FFF09C 25%, #DBFF9C 50%, #9CE1FF 100%)
}

body {
    text-align: center;
    margin: 4%;
    background-color: rgb(196, 255, 157);
}

.check {
    padding:20px;
    background-color: rgb(245, 255, 240);
    border: 10px solid rgb(157, 174, 145)
}
